@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh; /* cobre a altura da tela inteira */
    background: linear-gradient(120deg, #444653, #303030);
    display: flex; /* deixa tudo no centro */
    flex-direction: column;
    align-items: center; /* deixa tudo no centro */
    justify-content: center; /* deixa tudo no centro */
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around; /* dá o espaçamento entre os elementos */
    height: 200px;
    width: 500px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column; /* coloca os elementos um debaixo do outro */
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 1px; /* espaçamento da letra */
}

.relogio span {
    font-weight: bold;
    font-size: 70px;
}

.relogio span.tempo {
    font-size: 16px;
}

.copyright {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-style: italic;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ddd;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
